<div class="mt-4">
    <table class="border w-1/2 " >
        <thead class="bg-red-600 text-white">
            <tr class="">
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Téléphone</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border text-center">
                <td class="p-4">COF107</td>
                <td class="p-4">DIOUF</td>
                <td class="p-4">Ali</td>
                <td class="p-4">Sica foire</td>
                <td class="p-4">772005467</td>
            </tr>
            <tr class="border text-center">
                <td>COF127</td>
                <td>DIOUF</td>
                <td>Ali</td>
                <td>Sica foire</td>
                <td>772005467</td>
            </tr>
        </tbody>
    </table>
</div>
