<div class="h-screen w-full flex justify-center items-center">
    <div class="bg-red-500">
       <div class="">
        <div class="">
            <img src="../../assets/téléchargement.jpg" alt="">
        </div>
        <div class="flex flex-col items-center mt-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 text-white m-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>              
            <form action="">
                <div class="mb-2">
                    <input type="text" class="w-full rounded p-1 focus:outline-none" placeholder="Entrez votre email">
                </div>
                <div class="mb-2">
                    <input type="password" class="w-full rounded p-1 focus:outline-none" placeholder="Entrez votre mot de asse" id="myInput">
                    <input type="checkbox" onclick="myFunction()">Show Password
                </div>
                <div class="btn-connexion bg-blue-500 mb-4 text-center text-white rounded-full ">
                    <button class="p-1" id="btn1">Connexion</button>
                </div>
            </form>
        </div>

       </div>
    </div>
</div>
